
aside {
    float: right;
    border: solid .1875rem green;
    margin: .625rem;
    padding: .625rem;
  }

  aside > p {
    margin: 0.5rem;
  }

.gallery_photo{
 height: 70%;
 width: 70%;
}
.box{
 display: flex;
}
.profile{
    display: flex;
    flex-direction: column;
    padding: 3.125rem;
  }
.profile_image{
    max-width: 50%;
    align-self: center;
}

